@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.div-main {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 400px;
}


.div-son {
  display: flex;
  border-radius: 10px;
  border-style: none;
  border: hidden;
  background-color: white;
}

.div-img {
  width: 300px;
  height: 400px;
}

.img {
  width: 300px;
  height: 400px;
  display: flex;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 300px;
}

.perfume {
  margin: 0;
  color: dimgray;
  letter-spacing: 2px;
}

.title {
  font-size: 30px;
  font-family: 'Fraunces', serif;
  width: 210px;
}

.paragraph {
  font-size: 14px;
  line-height: 17px;
  color: dimgray;
  font-weight: 500;
  margin: 0;
}

.div-price {
  display: flex;
  justify-content: left;
  height: 65px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.price {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
}

.discount {
  display: flex;
  align-items: center;
  text-decoration: line-through;
  color: dimgray;
}

.cart {
  border-radius: 9px;
  border: none;
  background-color: hsl(158, 36%, 37%);
  height: 45px;
  color: hsl(0, 0%, 100%);
}

.cart:after{
  content: "";
  background: url("/assets/icon-cart.svg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 348px;
  left: 385px;
  width: 18px;
  height: 18px;
}

@media only screen and (max-device-width: 600px){
  .container {
    display: flex;
    height: 900px;
  }

  .div-main {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 0;
    left: 0;
    transform: translate(0,0);
    align-items: center;
    justify-content: center;
  }

  .div-son {
    flex-direction: column;
  }

  .div-img {
    height: 250px;
  }

  .img {
    width: 340px;
    height: 250px;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    content: url("/assets/image-product-mobile.jpg");
  }

  .content {
    width: 400px;
  }

  .title {
    width: 280px;
  }

  .paragraph {
    width: 285px;
  }

  .cart{
    position: relative;
  }
  .cart:after {
    top: 14px;
    left: 86px;
    position: absolute;
  }

}